<section class="explore-product">
        <div class="container">

          <div class="section-header-wrapper">

         
          </div>

          <ul class="product-list">

         

            <li class="product-item">

              <div class="product-card" tabindex="0">

                <figure class="product-banner">

                  <img src="{{nft.url}}" >

                  

                </figure>

                <div class="product-content">

                  <a href="#" class="h4 product-title">{{nft.title}}</a>

                  <div class="product-meta">

                    
                    

                    <div class="product-price">
                      <data value="{{nft.price}}">{{nft.price}} Ether</data>

                      <p class="label">Preço Atual</p>
                    </div>

                  </div>

                  <div class="product-footer">
                  

                    
                  </div>

                </div>

              </div>

            </li>
